* {
    margin: 0;
    padding: 0;
   
}

body{
    border: 1px red solid;
}

#topo {
    background: rgb(144, 180, 248) url(/img/fundo-topo.png) no-repeat right top 50px;
    height: 300px;
    padding: 50px;
}



#Menu {
    padding: 1em;
    background-color: rgb(144, 180, 248);

}

#Menu ul::after {
    content: "";
    clear: both;
    display: table;
}

#Menu ul li {
    list-style-type: none;

}

#Menu li a {
    display: block;
    padding: 0.5em 1.5em;
    color: black;
    text-decoration: none;
    float: right;

}

#Menu img {
    width: 200px;
    float: left;
}

#Comecar {
    background-color: black;
    border-radius: 20px;
}

#main {
    padding: 2em;
}

#main {
    content: "";
    clear: both;
    display: table;
}

#main div{
    margin:auto;
}

.Tendencias {
    width: 25%;
    padding: 2em;
    float: left;
    display: block;
}

.Tendencias img {
    width: 20px;
}



.numeros {
    color: rgb(156, 156, 156);
    font-size: 60px;
    float: left;
}

.Limpar{
    clear: both;
   
}


#topo h1 {

    font-size: 50px;
    width: 500px;
}

#topo p {
    margin-top: 20px;
    width: 500px;
}

#topo button {
    margin-top: 60px;
    padding: 0.7em 1.5em;
    border-radius: 20px;
    color: black;
    background-color: white;

}

