*{
    margin: 0;
    padding: 0;
}

#topo{   
    background: rgb(144, 180, 248) url(/img/fundo-topo.png) no-repeat right top 50px;
    height: 300px;
    padding: 50px;
}



#Menu{
      padding: 1em;
    background-color: rgb(144, 180, 248);
    
}

#Menu ul::after{
    content: "";
    clear: both;
    display: table;
}

#Menu ul li {
    list-style-type: none;
    
}

#Menu li a{
    display: block;
    padding: 0.5em 1.5em;
    color: black;
    text-decoration: none;
    float: right;

}

#Menu img{
    width: 200px;
    float: left;
}

#Comecar{
    background-color: black;  
    border-radius: 20px;  
}

h1{
    
    font-size: 50px;
    width: 500px;    
}

p{  
    margin-top: 20px;
    width: 500px;
}

button{
    margin-top: 60px;
    padding: 0.7em 1.5em;
    border-radius: 20px;
    color: black;
    background-color: white;
    
}