/***********************
Estrutura
*/



/***********************
Tipografia
*/
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecalho {
    background-color: #c5e3fe;
    border-bottom: 1px solid black;
}

.container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
}

ul#menu li a {
    float: left;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

ul#menu li.destaque a {
    color: white;
    border-radius: 1.2rem;
    background-color: black;
}

ul#menu li a:hover {
    color: #4c799f;
}

ul#menu li.destaque a:hover {
    color: #4c799f;
}